@import '../styles/common-styles.modules.scss';

.container {
  min-height: 100px;
  padding: 15px;
}

.title {
  padding: 5px 0px;
}

.title + .content {
  margin-top: 10px;
}

.content {
  padding: 10px 0px;
}

.modalBody {
  flex: 1;
}
