@import '../styles/common-styles.modules.scss';

.container {
  min-height: 100px;
  width: 500px;
}

.titleContainer {
  padding: 15px;
  border-bottom: 1px solid gray;
}

.titleContainer + .content {
  margin-top: 10px;
}

.content {
  padding: 10px 15px;
  flex: 1;
}

.footer {
  padding: 15px;
  border-top: 1px solid #d6d6d6;
}
