.popupContainer {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 999;
}

.container {
  border: 2px solid black;
  background-color: #fff;
  width: 300px;
  display: flex;
  flex-direction: column;
  animation: open 0.3s ease-out;
}

.footer {
  display: flex;
  justify-content: flex-end;
  margin-top: 15px;
}

.action {
  border: 1px solid red;
  margin: 0 5px;
  padding: 5px 10px;
}

@keyframes open {
  0% {
    transform: scale(0, 0);
  }
  100% {
    transform: scale(1, 1);
  }
}
